/* ---- reset ---- */

body {
  margin: 0;
  background-color: #d3d6db;
}

canvas {
  display: block;
  vertical-align: bottom;
}


/* ---- particles.js container ---- */

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

body {
  color: #303841;
  font-family: 'Inter', sans-serif;}
  header {
    padding-top: 1rem;
    padding-bottom: 3rem; }
  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    margin-bottom: -100px;
  }
  @media (max-width: 540px) {
    .logo {
      display: block;
      width: 70%;
      height: auto;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: -20px;
    }}

  .break {
    margin-bottom: 0px;
    margin-left: 200px;
    margin-right: 200px;
  }
  @media (max-width: 540px){
    .break {
      margin-bottom: 0px;
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  .nav-scroller {
    position: relative;
    z-index: 2;
    height: 2.75rem;
    overflow-y: hidden;
  }
  .nav {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    padding-bottom: 1rem;
    margin-top: -1px;
    overflow-x: auto;
    text-align: center;
    white-space: nowrap;
    -webkit-overflow-scrolling: touch;
  }

  .nav-link {
    padding-top: .25rem;
    padding-bottom: .75rem;    }

  .nav-text {
    font-size: 18px;
    font-weight: 700;
    padding-right: 5px;
    color: #303841;
  }

  .nav-text:hover {
    color: #be3144;
    border-bottom-color: #be3144;
    border-bottom-width: 3px;
    border-bottom-style: solid;

  }
  h1 {
    font-size: 25px;
    font-weight: 700}
  @media (max-width: 540px) {
    h1 {
      font-size: 22px;; } }
  h2 {
    font-size: 20px;
    padding-left: 10px;}
  @media (max-width: 540px) {
    h1 {
      font-size: 18px;; } }

  main img {
    width: 100%; }
  .gallery-image {
    margin-bottom: 2rem;
    position: relative; }

  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.5); }
  .gallery-image:hover .overlay {
    opacity: 1; }
  .overlay-text {
    color: white;
    font-size: 1.5rem;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; }

  footer {
    padding-top: 3rem;
    padding-bottom: 1rem; }
  .copyright {
    margin-bottom: 0;
    padding-top: 15px; }
  .social-media-image {
    width: 50px;
    height: auto;
    padding: 10px; }
  @media (max-width: 575px) {
    .social-media {
      text-align: center !important; }
    .social-media-image {
      width: 40px;
      padding: 8px; }
    .copyright {
      text-align: center; } }
  @media .initial {
      display: block;
      width: 70%;
      height: auto;
      margin-left: 50px;
      margin-right: 50px;
      margin-bottom: -20px;
    }
